.scrollablePart {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  scroll-snap-type: both mandatory;
}

.grid {
  border-collapse: collapse;
}

.rowWrapper {
}

.firstRowWrapper {
}

.lastRowWrapper {
}

.baseCell {
  width: 100px;
  min-width: 100px;
  height: 100px;
  border: 1px solid #000;
  text-align: center;
  text-shadow: #fc0 1px 0 10px;
  scroll-snap-align: start;
}

.baseHeaderFooterStarterEnder {
  width: 100px;
  height: 100px;
  composes: baseCell;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  font-size: 16px;
  background-color: #fff;
}

.baseCornerCell {
  composes: baseCell;
  background-color: rgba(255, 255, 255, 1);
  z-index: 3;
}

// .baseCornerCell::before {
//   display: block;
//   content: "Score To:";
//   position: absolute;
//   transform: rotate(90deg);
//   transform-origin: bottom left;
// }

// .baseCornerCell::after {
//   display: block;
//   content: "Score By:";
//   right: 2px;
//   position: absolute;
// }

.cellInLeftTopCorner {
  composes: baseCornerCell;
}

.cellInRightTopCorner {
  composes: baseCornerCell;
}

.cellInLeftBottomCorner {
  composes: baseCornerCell;
}

.cellInRightBottomCorner {
  composes: baseCornerCell;
}

.cellInRightBottomCorner::before,
.cellInLeftBottomCorner::before {
  transform-origin: top left;
  transform: rotate(-90deg);
}

.cellInFirstRow {
  composes: baseHeaderFooterStarterEnder;
}

.cellInLastRow {
  composes: baseHeaderFooterStarterEnder;
}

.cellInFirstColumn {
  composes: baseHeaderFooterStarterEnder;
}

.cellInLastColumn {
  composes: baseHeaderFooterStarterEnder;
}

.regularCell {
  composes: baseCell;
  font-size: 25px;
}

.oddRow {
}

.evenRow {
}

.oddColumn {
}

.evenColumn {
}

.regularCell.oddRow.oddColumn {
  background-color: blue;
}

.regularCell.evenRow.evenColumn {
  background-color: blueviolet;
}

.activateStickiness {
  .firstRowWrapper > td {
    position: sticky;
    top: 0;
  }

  .lastRowWrapper > td {
    position: sticky;
    bottom: 0;
  }

  td.cellInFirstColumn {
    position: sticky;
    left: 0;
  }

  td.cellInLastColumn {
    position: sticky;
    right: 0;
  }

  .cellInLeftTopCorner {
    top: 0;
    left: 0;
  }

  .cellInRightTopCorner {
    top: 0;
    right: 0;
  }

  .cellInLeftBottomCorner {
    left: 0;
    bottom: 0;
  }

  .cellInRightBottomCorner {
    right: 0;
    bottom: 0;
  }
}
